@import "_fonts";
@import "./components/dialog";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
}

img {
  height: 100%;
  width: 100%;
}

.block {
  background-color: $white;
  margin: 20px 30px;
  box-shadow: 0px 1px 0px rgba(90, 97, 105, 0.11), 0px 2px 4px rgba(90, 97, 105, 0.12),
  0px 5px 5px rgba(90, 97, 105, 0.06), 0px 3.5px 35px rgba(90, 97, 105, 0.1);
  border-radius: 9px;
  padding: 20px 32px;

  @include mobile {
    padding: 5px;
    margin: 5px;
  }
}

td {
  padding: 10px;
}

thead, tbody, tfoot, tr, td, th {
  text-align: center;
}

.button-create {
  margin-bottom: 15px;

  &:hover {
    background-color: $pure-blue;
  }
}

.buttons {
    @include tablet {
      display: flex;
      flex-direction: row !important;
      justify-content: center;
  }

}

.order-list__order-buttons button span pre {
  @include tablet {
    display: none;
  }

}