/* Colors */

$main-green: #0EC261;
$main-black: #121212;
$pure-blue: #007BFF;
$dark-grey: #495057;
$grey: #999999;
$very-light-gray: #fbfbfb;
$white: #ffffff;
$very-dark-blue: #3D5170;
$strong-red: #C4183C;
$light-grayish-blue: #F5F6F8;
$very-dark-desaturated-blue: #3d5170;
$very-dark-grayish-blue: #5A6169;
$dark-grayish-blue: #767f9d;
$dark-grayish-blue-2: #818ea3;
$dark-grayish-blue-3: #868e96;
$light-grayish-blue-2: #e1e5eb;
$light-grayish-blue-3: #E9ECEF;
$light-grayish-blue-4: #cacedb;
$grayish-blue: #becad6;
$moderate-red: #cb3656;

/* Media screen*/

$desktop-min: 1439px;
$tablet: 1023px;
$mobile: 767px;